In [244]:
import pandas as pd
import numpy as np

In [245]:
file = "HeroesOfPymoli.csv"

In [246]:
df_original = pd.read_csv(file)
df_original.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [247]:
list(df_original)
df_original.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

# 1 PLAYER COUNT

In [248]:
df_original["SN"].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Saistyphos30     3
Hada39           3
Rarallo90        3
Chadolyla44      3
Phyali88         3
Siallylis44      3
Sondastsda82     3
Inguron55        3
Saedaiphos46     3
Zontibe81        3
Aelin32          3
Iskadarya95      3
Strithenu87      3
Chamimla85       3
Yathecal82       3
Hiaral50         3
Chamjask73       3
Iri67            3
Lisopela58       3
Ialallo29        3
Silaera56        3
Idai61           3
Lassilsala30     3
Chanastnya43     3
Raesty92         3
Ilarin91         3
Umolrian85       3
                ..
Farrian71        1
Peorith44        1
Itheria73        1
Chanosiaya39     1
Sally64          1
Lirtirra81       1
Lisossanya98     1
Chamjaskya75     1
Shaidanu32       1
Haestyphos66     1
Aela59           1
Firan91          1
Mindirranya33    1
Laedallo55       1
Iskim66          1
Saisrilis27      1
Chamimla73       1
Chadjask77       1
Quaranmol58      1
Iljask75         1
Aeri84           1
Sidap51          1
Arirgue63        1
Quaecjask96      1
Saena89          1
Lisovynya38      1
Mindjasksya61    1
Undotesta33      1
Qilunan34        1
Ilimya66         1
Name: SN, Length: 576, dtype: int64

In [249]:
players = df_original['SN'].nunique()
players

576

# 2 Purchasing Analysis

In [250]:
df_original.mean(axis=0)

Purchase ID    389.500000
Age             22.714103
Item ID         92.114103
Price            3.050987
dtype: float64

In [251]:
pd.DataFrame([{"Total Players" :players}])

   Total Players
0            576

In [252]:
PDF = df_original.copy()
PDF.head

<bound method NDFrame.head of      Purchase ID               SN  Age                 Gender  Item ID  \
0              0          Lisim78   20                   Male      108
1              1      Lisovynya38   40                   Male      143
2              2       Ithergue48   24                   Male       92
3              3    Chamassasya86   24                   Male      100
4              4        Iskosia90   23                   Male      131
5              5          Yalae81   22                   Male       81
6              6        Itheria73   36                   Male      169
7              7      Iskjaskst81   20                   Male      162
8              8        Undjask33   22                   Male       21
9              9      Chanosian48   35  Other / Non-Disclosed      136
10            10        Inguron55   23                   Male       95
11            11     Haisrisuir60   23                   Male      162
12            12     Saelaephos52   21                   Male      116
13            13      Assjaskan73   22                   Male        4
14            14      Saesrideu94   35                   Male      165
15            15        Lisassa64   21                 Female       98
16            16        Lisirra25   20                   Male       40
17            17        Zontibe81   21                   Male      161
18            18        Reunasu60   22                 Female       82
19            19        Chamalo71   30                   Male       89
20            20     Iathenudil29   20                   Male       57
21            21    Phiarithdeu40   20                   Male      168
22            22     Siarithria38   38  Other / Non-Disclosed       24
23            23         Eyrian71   40                   Male      151
24            24          Siala43   30                   Male      141
25            25        Lisirra87   29                   Male      178
26            26       Lirtossa84   11                   Male       71
27            27          Eusri44    7                   Male       96
28            28           Aela59   21                   Male      119
29            29          Tyida79   24                   Male       37
..           ...              ...  ...                    ...      ...
750          750         Iljask75   22                   Male      167
751          751      Lisjaskan36   11                   Male      180
752          752    Mindjasksya61   17                   Male      112
753          753   Frichirranya75   36                   Male      178
754          754  Pheosurllorin41   23                 Female       79
755          755         Raesty92   12                   Male       76
756          756          Ilast79   20                   Male       73
757          757        Eratiel90   18                   Male       57
758          758           Iral74   21                   Male      182
759          759      Tyaelorap29   25                   Male       72
760          760       Aithelis62   21                   Male       44
761          761          Assim27   45                   Male       17
762          762           Asur53   26                   Male      110
763          763     Lassilsala30   21                   Male       85
764          764     Saedaiphos46   18                   Male      113
765          765          Irith83   18                   Male      130
766          766     Aelastirin39   23                   Male       58
767          767          Ilmol66    8                 Female       92
768          768     Assassasta79   38                   Male       92
769          769        Ilosian36   15                   Male      145
770          770       Lirtosia63   34                   Male       12
771          771     Iskossasda43   16                   Male       25
772          772           Asur53   26                   Male      136
773          773           Hala31   21                   Male       19
774          774       Jiskjask80   11                   Male      101
775          775       Aethedru70   21                 Female       60
776          776           Iral74   21                   Male      164
777          777       Yathecal72   20                   Male       67
778          778          Sisur91    7                   Male      101
779          779        Ennrian78   24                   Male       50

                                        Item Name  Price
0       Extraction, Quickblade Of Trembling Hands   3.53
1                               Frenzied Scimitar   1.56
2                                    Final Critic   4.88
3                                     Blindscythe   3.27
4                                            Fury   1.44
5                                       Dreamkiss   3.61
6          Interrogator, Blood Blade of the Queen   2.18
7                                   Abyssal Shard   2.67
8                                       Souleater   1.10
9                    Ghastly Adamantite Protector   3.58
10                          Singed Onyx Warscythe   4.74
11                                  Abyssal Shard   2.67
12                        Renewed Skeletal Katana   4.18
13                             Bloodlord's Fetish   1.70
14                    Bone Crushing Silver Skewer   4.86
15                    Deadline, Voice Of Subtlety   2.89
16                                  Second Chance   2.52
17                                         Devine   1.76
18                                        Nirvana   4.90
19              Blazefury, Protector of Delusions   4.64
20                Despair, Favor of Due Diligence   4.60
21            Sun Strike, Jaws of Twisted Visions   1.48
22                                  Warped Fetish   3.81
23                                      Severance   3.40
24                                     Persuasion   3.19
25   Oathbreaker, Last Hope of the Breaking Storm   4.23
26                                         Demise   1.61
27                    Blood-Forged Skeletal Spine   3.09
28      Stormbringer, Dark Blade of Ending Misery   4.32
29            Shadow Strike, Glory of Ending Hope   3.16
..                                            ...    ...
750                   Malice, Legacy of the Queen   3.61
751                                   Stormcaller   3.36
752                                  Worldbreaker   2.60
753  Oathbreaker, Last Hope of the Breaking Storm   4.23
754                           Alpha, Oath of Zeal   4.05
755                      Haunted Bronzed Bludgeon   3.15
756                                   Ritual Mace   2.05
757               Despair, Favor of Due Diligence   4.60
758                                     Toothpick   4.03
759                                 Winter's Bite   3.77
760                         Bonecarvin Battle Axe   2.38
761                  Lazarus, Terror of the Earth   1.70
762                                    Suspension   1.44
763                                Malificent Bag   1.75
764                             Solitude's Reaver   4.07
765                                         Alpha   2.07
766             Freak's Bite, Favor of Holy Might   4.14
767                                  Final Critic   4.88
768                                  Final Critic   4.88
769                          Fiery Glass Crusader   4.58
770                                         Dawne   1.02
771                                     Hero Cane   4.35
772                  Ghastly Adamantite Protector   3.58
773                 Pursuit, Cudgel of Necromancy   1.02
774                                  Final Critic   4.19
775                                          Wolf   3.54
776                              Exiled Doomblade   1.63
777         Celeste, Incarnation of the Corrupted   3.46
778                                  Final Critic   4.19
779                                          Dawn   4.60

[780 rows x 7 columns]>

In [253]:
items = PDF['Purchase ID'].nunique()
items

780

In [254]:
avg = PDF['Price'].mean()
avg

3.050987179487176

In [255]:
pd.DataFrame([{"Average Price" : avg}])

   Average Price
0       3.050987

In [256]:
total = PDF['Price'].sum()
total

2379.77

In [257]:
pd.DataFrame([{"Total revenue" : total}])

   Total revenue
0        2379.77

In [258]:
gdr = df_original.copy()
gdr.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# 3 Gender Demographics

In [259]:
groupgenders = gdr.groupby("Gender").count()

groupgenders = groupgenders["SN"]

In [260]:
totalgender=groupgenders.sum()
percentgenders=groupgenders / totalgender

In [261]:
percentgenders

Gender
Female                   0.144872
Male                     0.835897
Other / Non-Disclosed    0.019231
Name: SN, dtype: float64

In [262]:
gdr.groupby("Gender")["Price"].mean()
gdr.groupby("Gender").mean()

                       Purchase ID        Age    Item ID     Price
Gender
Female                  379.380531  21.345133  85.477876  3.203009
Male                    392.516871  22.917178  93.524540  3.017853
Other / Non-Disclosed   334.600000  24.200000  80.800000  3.346000

THE AVERAGE PURCHASE PRICE PER MALE AND FEMALE IS INDICATED ABOVE, IN THE "PRICE" COLUMN.

In [263]:
gdr.groupby("Gender")["Price"].sum()
gdr.groupby("Gender").sum()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60978  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

THE TOTAL PURCHASE REVENUES BY MALE AND FEMALE GROUPS IS INDICATED ABOVE, ALSO IN THE "PRICE" COLUMN.

In [264]:
gdr.groupby("Gender")["SN"].sum()
gdr.groupby("Gender").sum()

                       Purchase ID    Age  Item ID    Price
Gender
Female                       42870   2412     9659   361.94
Male                        255921  14942    60978  1967.64
Other / Non-Disclosed         5019    363     1212    50.19

In [265]:
gender_total = gdr["Gender"].value_counts()
gender_total

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

ABOVE WE SEE THE PURCHASE COUNT BY MALES, FEMALES, AND OTHER/NON-DISCLOSED BUYERS.

In [266]:
gender_average = gdr.groupby(["Gender"]).mean()["Price"]
gender_average

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

ABOVE WE HAVE THE AVERAGE PRICE FOR ALL PURCHASES MADE BY FEMALE, MALE AND UNDISCLOSED PLAYERS.

# 5 Age Demographics

In [267]:
agedf = df_original.copy()
agedf.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [268]:
#Age Demographics
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Age Group


# We create bins to which place data by different age groups:
agedemo = df_original.copy()
#def age_demo_bins(df):
bins = [0,9,14,19,24,29,34,39,45]
# We create labels for these bins

bins_label = ['<10','10-14','15-19','20-24','25-29','30-34','35-39', '40+']

agedemo['Age Group'] = pd.cut(agedemo['Age'], bins, labels=bins_label)
agedemo.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

# 5.1 Purchase Analysis (Age)

In [271]:
groupagedemo = agedemo.groupby(['Age Group'])

#1) 
purchasesbyagegroup = groupagedemo['Item ID'].count()
#2)
avgpurchaseprice = groupagedemo['Price'].mean()
#3)
totalpurchasevalue = groupagedemo['Price'].sum()
#4)
avgpurchaseperpersonperagegroup = totalpurchasevalue / purchasesbyagegroup
pd.concat([purchasesbyagegroup, avgpurchaseprice, totalpurchasevalue, totalpurchasevalue],axis=1)

           Item ID     Price    Price    Price
Age Group
<10             23  3.353478    77.13    77.13
10-14           28  2.956429    82.78    82.78
15-19          136  3.035956   412.89   412.89
20-24          365  3.052219  1114.06  1114.06
25-29          101  2.900990   293.00   293.00
30-34           73  2.931507   214.00   214.00
35-39           41  3.601707   147.67   147.67
40+             13  2.941538    38.24    38.24

# CHECK RESULT!

# 6 Top Spenders

In [240]:
#Identify the top 5 spenders in the game by total purchase value, then list in

In [280]:
#Top Spenders

topspenders = df_original.groupby("SN")
topspenders

spendercount = topspenders['SN'].count()
avgpurchase = topspenders['Price'].mean()
totalpurchase = topspenders['Price'].sum()

topspendersdf= pd.DataFrame({'Purchase Count': spendercount, 'Average Purchase Price': avgpurchase,
                              'Total Purchase Value': totalpurchase}).sort_values(by='Purchase Count', ascending = False)

topspendersdf.head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Iral74                    4                3.405000                 13.62
Idastidru52               4                3.862500                 15.45
Asur53                    3                2.480000                  7.44
Inguron55                 3                3.703333                 11.11

# 7 (Combined) Most Popular and mostprofitable Items

In [285]:
#Most Popular Items

#Identify the 5 most popular items by purchase count, then list (in a table):
bestitems = df_original.copy()

most_popular = bestitems.groupby(['Item Name','Item ID'])

purchase_count = most_popular["Price"].count()
item_price = most_popular["Price"].mean()
total_purchase = most_popular["Price"].sum()

most_popular_games = pd.DataFrame({'Purchase Count': purchase_count,'Avg Item Price': item_price,
                                     'Total Purchase': total_purchase}).sort_values(by='Purchase Count', ascending = False)
most_popular_games.head(5)

,,Purchase Count,Avg Item Price,Total Purchase
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
"Extraction, Quickblade Of Trembling Hands",108,9,3.53,31.77
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
"Pursuit, Cudgel of Necromancy",19,8,1.02,8.16

# 8 Sorted table (Descending)

In [284]:
#Most Profitable Items

bestitems = df_original.copy()

most_popular = bestitems.groupby(['Item Name','Item ID'])

purchase_count = most_popular["Price"].count()
item_price = most_popular["Price"].mean()
total_purchase = most_popular["Price"].sum()

most_popular_games = pd.DataFrame({'Purchase Count': purchase_count,'Avg Item Price': item_price,
                                     'Total Purchase': total_purchase}).sort_values(by='Total Purchase', ascending = False)
most_popular_games.head(5)

,,Purchase Count,Avg Item Price,Total Purchase
Item Name,Item ID,,,
"Oathbreaker, Last Hope of the Breaking Storm",178,12,4.23,50.76
Nirvana,82,9,4.90,44.10
Fiery Glass Crusader,145,9,4.58,41.22
Final Critic,92,8,4.88,39.04
Singed Scalpel,103,8,4.35,34.80